// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #39A9D0;
$blue:                  #39A9D0;
$yellow:                #FFF689;
$pink:                  #FF8D8D;
$charcoal:              #808080;
$grey:                  #F3F3F3;
$eggshell:               #F0FBFF;

// Typography
$heading-font-family: 'Lato', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

